/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #90AFC5;
}
html *,
body * {
  font-family: 'Bree Serif', sans-serif;
}
nav {
  background-color: #fb6542;
  margin-bottom: 50px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  position: fixed;
  border-bottom: solid #2A3132 5px;
}
@media ( max-width: 800px ) {
  nav {
    position: static;
    padding: 0px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: block;
  }
}
nav h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  background-color: #ffbb00;
  color: #2A3132;
  font-size: 50px;
  border: solid #2A3132 5px;
  border-top: none;
}
nav h1 span {
  font-size: 0.5em;
}
@media ( min-width: 800px ) {
  nav h1 {
    height: 130px;
    width: 300px;
    max-width: 300px;
    margin: 0 0 0 5%;
  }
}
@media ( max-width: 800px ) {
  nav h1 {
    margin: 0;
    border: none;
    border-bottom: solid #2A3132 5px;
    font-size: 28px;
    max-width: 800px;
    height: 80px;
  }
}
nav a {
  flex-grow: 1;
  text-decoration: none;
  background-color: inherit;
  color: #2A3132;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-transition: font-size 0.5s 0s, background-color 0.1s 0s;
  -moz-transition: font-size 0.5s 0s, background-color 0.1s 0s;
  -o-transition: font-size 0.5s 0s, background-color 0.1s 0s;
  -ms-transition: font-size 0.5s 0s, background-color 0.1s 0s;
  transition: font-size 0.5s 0s, background-color 0.1s 0s;
  margin-left: auto;
}
nav a#about {
  margin-left: auto;
}
nav a:hover {
  width: auto;
  background-color: #2A3132;
  color: #90AFC5;
  font-size: 25px;
}
nav a:active {
  background-color: #2A3132;
  color: #90AFC5;
  font-size: 23px;
}
@media ( max-width: 800px ) {
  nav a {
    font-size: 20px;
    height: 50px;
    border-top: solid #2A3132 1px;
  }
}
@media ( min-width: 800px ) {
  header {
    padding-top: 150px;
  }
}
@media ( max-width: 800px ) {
  header {
    border-top: solid #2A3132 5px;
    border-bottom: solid #2A3132 5px;
    font-size: 18px;
  }
}
header section {
  background-color: #AEBD38;
  text-align: center;
  color: #2A3132;
}
@media ( min-width: 800px ) {
  header section {
    background-color: #AEBD38;
    border: solid #2A3132 5px;
    line-height: 1.5;
    padding: 10px 20px;
    font-size: 1.5em;
    font-size: 30px;
    border-bottom: none;
    margin: 0 5% 0 5%;
  }
}
@media ( max-width: 800px ) {
  header section {
    padding: 10px;
    line-height: 1.5;
  }
}
@media ( max-width: 800px ) {
  div.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
  }
}
@media ( min-width: 800px ) {
  div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 5% 0 5%;
  }
}
div.container section ul li {
  border-left: solid #2A3132 5px;
}
@media ( min-width: 800px ) {
  div.container section ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-left: solid #2A3132 5px;
    margin-bottom: 50px;
  }
}
@media ( max-width: 800px ) {
  div.container section ul li {
    margin: 0px 2% 20px;
  }
}
@media ( min-width: 800px ) {
  div.container section {
    background-color: white;
    border: solid #2A3132 5px;
    line-height: 1.5;
    padding: 10px 20px;
    font-size: 1.5em;
  }
}
@media ( max-width: 800px ) {
  div.container section {
    background-color: white;
    border: 0;
  }
}
@media ( min-width: 800px ) {
  div.container section h1 {
    font-size: 30px;
    width: fit-content;
    padding: 30px 15px;
  }
}
@media ( max-width: 800px ) {
  div.container section h1 {
    font-size: 20px;
    text-align: center;
    padding: 5% 0%;
  }
}
@media ( min-width: 800px ) {
  div.container section h3 {
    margin: 10px;
  }
}
@media ( max-width: 800px ) {
  div.container section h3 {
    font-size: 18px;
    padding: 5px 2%;
  }
}
@media ( min-width: 800px ) {
  div.container section p {
    margin: 10px;
  }
}
@media ( max-width: 800px ) {
  div.container section p {
    font-size: 20px;
    padding: 5% 10px;
  }
}
div.container aside {
  background-color: #2A3132;
}
@media ( max-width: 800px ) {
  div.container aside {
    padding: 5% 5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
  }
}
@media ( min-width: 800px ) {
  div.container aside h1 {
    background-color: #335B87;
    border: 0;
    padding: 5px 15px;
    color: white;
  }
}
@media ( max-width: 800px ) {
  div.container aside h1 {
    font-size: 24px;
    padding: 5% 0%;
  }
}
div.container aside section {
  background-color: #2A3132;
  color: white;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
div.container aside section a {
  color: white;
  text-decoration: underline;
}
@media ( max-width: 800px ) {
  div.container aside section p {
    padding: 2% 0%;
  }
}
div.container aside section ul li {
  margin: 0;
}
@media ( min-width: 800px ) {
  div.container aside section ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
div.container aside section ul li h1 {
  padding: 0;
}
div.container aside section ul li a:hover {
  color: #AEBD38;
  text-decoration: none;
}
div.container aside section ul li a:active {
  color: white;
  text-decoration: none;
}
@media ( max-width: 800px ) {
  div.container aside section ul li {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
  }
}
@media ( max-width: 800px ) {
  div.container aside {
    text-align: center;
  }
}
footer {
  text-align: right;
}
@media ( min-width: 800px ) {
  footer {
    margin: 0 5% 0 5%;
  }
}
