.container {
    font-size: 1.25em;
    color: @night;
    position: absolute;
    top: 75px;
    right: 75px;
    left: 75px;
    line-height: 1.5;
}

@title-height: 50px;


.sticky-header(@position, @height) {
    position: sticky;
    top: @position;
    background-color: @avocado-transparent;
    color: @night;
    font-size: 1.5em;
    height: @height;
    margin: auto;
    .center-text();
    border: solid @brown 5px;
}
// .header-style(@heigh) {
//     .center-text();
// }

.body-style(@position) {
    position: absolute;
    top: @position;
}


#about-head {
    .sticky-header(@title-height, @title-height);
}

#about-body {
    width: 50%;
    margin: auto;
    p {
        text-align: center;
    }
}

#contact-head {
    .sticky-header(2*@title-height, @title-height);
    // .header-style();
    // position: sticky;
    // top: auto;

}