@mobile: ~"( max-width: 680px )";
@tablet:  ~"( max-width: 1000px )";
@desktop:  ~"( max-width: 4000px )";



@night: #5b514f;
@dark-teal: #557b84;
@light-teal: #3bafa9;
@pale-green: #a5d4a8;
@avocado: #e6efbd;
@brown: #7a1400;
