.center-text() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@avocado-transparent: #e6efbdef;
@night-transparent: #5b514ff1;
@night-shadow: #5b514f80;
@brown-transparent: #7a1400ea;

.spin-icon {
    position: absolute;

}

nav {
    position: fixed;
    background-color: @avocado-transparent;
    color: @night;
    .font-alice();
    left: 0px;
    right: 0px;
    z-index: 999;
    height: 50px;  
    box-shadow:0 0 5px 1px @night-shadow;

    @media @tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    span {
        position: absolute;
        z-index: 999;
        font-size: 3em;
        @media @desktop {
            overflow: hidden;
            width: 320px;
            .center-text(); 
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }

        @media @tablet {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    
        @media @mobile {
            font-size: 1.8em;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.display-menu(@width) {
    position: absolute;      
    width: @width;
    right: 0px;
    font-size: 1.25em;
    justify-content: space-evenly;
}
.menu {

    display: flex;
    @media @desktop {
        .display-menu(50%);
    }
    @media @tablet {
        .display-menu(70%);
    }
    @media @mobile {
        // visibility: hidden;
        width: 50%;
        z-index: 1000;
        overflow: visible;
        position: absolute;
        height: 1000px;
        top: 100%;
        // left: 50%;
        left: 101%;
        // right: 0px;
        font-size: 1.15em;
        // transform: translate(100%, 50%);
        box-shadow:0 0 5px 1px @night-shadow;
        background-color: @brown-transparent;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: transform 0.5s;
    }



}
.visible-mobile {
    // height: 50px;
    // .center-text();
    @media @mobile {
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
}
.dashed-underline() {
    border-bottom: dashed @night-transparent 2px;
}

.menu-item {
    width: 100%;
    height: 50px;
    .center-text();
    a {
        text-decoration: none;
        // .dashed-underline();
        @media @desktop, @tablet {
            // width: 100%;
            color: @night;
            font-size: 1.2em;
        }
        @media @mobile {
            width: 100%;
            .center-text();
            height: 100%;
            color: @avocado;
            border: none;
            padding: 0px 25px;
            border-bottom: dashed @avocado-transparent 2px;
        }
        &:hover {
            @media @desktop {
                // font-weight: bold;
                // transform: scale(1.2);
                // font-weight: bold;
                border-bottom: dashed @avocado-transparent 2px;

                transition: all 0.25s;
            }
        }
        
        &:active {
            transform: translateY(5px);
            transition: transform 0.15s;
        }


    }

    &#contact-item-none {
        background-color: @night-transparent;
        margin-right: 0px;
        a {
            
            &:hover {
                border-bottom: dashed @avocado-transparent 2px;
            }
            @media @desktop, @tablet {
                color: @avocado;
            }

            @media @mobile {
                border: none;
            }
        }
    }

    @media @mobile {
        // border-left: dashed @avocado-transparent 2px;
    }

    @media @desktop {
        
    }

}

.spinner {

    width: 50px;
    height: 50px;
    svg {

        width: 50px;
        height: 50px;
        fill: @night;
    }
}

@night: #5b514f;
@dark-teal: #557b84;
@light-teal: #3bafa9;
@pale-green: #a5d4a8;
@avocado: #e6efbd;

// .spinner {
//     // content: "<>";
    
//     width: 50px;
//     height: 50px;
//     font-size: 12.5px;
//     font-family: monospace;
//     display: flex;
//     font-weight: bold;
// }

.bar {
    background: @brown-transparent;
    width: 30px;
    height: 5px;
    transition: all 1s;

}
.menu-toggle {
    box-sizing: border-box;
    // padding: 12px;

    
    // #top-bar {
    //     opacity: 1;
    //     transform: translateY(0px) rotate(0deg);

    // }

    // #middle-bar {      
    //     opacity: 1;
    //     transform: rotate(180deg);

    // }

    // #bottom-bar {
    //     opacity: 1;
    //     transform: translateY(0px) rotate(0deg);
    // }


    @media @desktop, @tablet {
        display: none;
    }

    @media @mobile {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        cursor: pointer;
        fill: @brown;

    }
}
.cancel-icon {

    #top-bar {
        opacity: 0.75;
        transform: translateY(12.5px - 1.25px) rotate(135deg);
        transition: all 1s;
    }

    #middle-bar {      
        opacity: 0;
        transform: rotate(180deg);
        transition: all 0.5s;
    }

    #bottom-bar {
        opacity: 0.65;
        transform: translateY(-12.5px + 1.25px) rotate(-135deg);
        transition: all 1s;
    }
}